.catalog {
    position: relative;
    background: #fff;
    padding:30px 0px;
    max-width:1000px;
    width: 90%;
    margin:0 auto;
}
.categories-c {
    float:left;
    text-align: left;
    width: 140px;
}
.categories-c ul {
    list-style: none;
}

.categories-c ul li {
    padding:8px 0px 8px 10px;
    margin-bottom: 3px;
}
.categories-c ul > li > a {
    font-size: 13px;
    color:#3888e4
}

.categories-c ul > li.active a{
    position: relative;
    background: url("../images/actbg.png") repeat-x;
    border-radius: 3px 0px 0px 3px;
    padding: 8px 8px 9px 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color:#4f4113
}
.categories-c ul > li.active {
    padding:0px;
}
.categories-c ul > li.active a:after {
    top: 0px;
    right: -9px;
    position: absolute;
    display: inline-block;
    content: "";
    background: url("../images/str.png") no-repeat;
    height: 32px;
    width: 9px;
}
.categories-c ul > li > ul {
    margin-top:15px;
    padding-left:7px;
}
.categories-c ul > li > ul a {
    color:#8992a3
}
.content-c {
    margin-left:140px;
}
.items {
   /* overflow:hidden*/
}
.items .item-c {
    display: inline-block;
    width: 259px;
    margin: 0px 0px 30px 26px;
}
.items .item-c:nth-child(3n+1) {
    margin-left: 0px;
}
.items .item-c .pic {
    width: 259px;
    height: 188px;
    margin-bottom: 15px;
    box-shadow: 2px 10px 27px;
}
.items .title-c {
    font-size: 18px;
    margin-bottom: 5px;
}
.items .title-c a {
    color:#000000;
    text-decoration: none;
}
.items .info-c {
    font-size: 11px;
    color: #8a93a3;
}
.show_more {
    position: relative;
    text-align: center;
}
.show_more span {
    display: inline-block;
    width: 195px;
    height: 51px;
    background: url("../images/show_more.png") no-repeat center #fff;
    padding: 0px 30px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.show_more .border-c {
    border-bottom: 1px solid #d5eafa;
    top:50%;
    height:1px;
    width:100%;
    position: absolute;
    left: 0;
    z-index: 0;
}
.show_more a {
    font-size: 18px;
    line-height: 51px;
    text-decoration: none;
    color:#52afe9;
    border-bottom: 1px dotted #52afe9;
}
.show_more a:hover{
    border-bottom: none;
}
.sort-by {
    width:133px;
    height: 35px;
    background: url("../images/sort_bg.png") no-repeat;
    position: absolute;
    right: 2px;
    top:-1px;
}
.sort-by a.active {
    margin-left:15px;
    border-bottom:1px dotted #52afe9;
    color:#52afe9;
    padding-bottom: 2px;
    text-decoration: none;
    line-height: 35px;
}
.sort-by span.str-down {
    width: 5px;
    height: 3px;
    background: url("../images/str-down.png") no-repeat;
    display: inline-block;
    margin:0px 0px 2px 4px
}