.actor__face
	float: left
	// width: 215px
	// margin-right: 20px
	width: 28%
	margin-right: 2%
	margin-bottom: 20px
	+clr
	img
		max-width: 100%
		vertical-align: top
		height: auto
.rated
	margin-top: 10px
	width: 100%
	height: 49px
	border: 4px solid #f4c8c8
	-webkit-border-radius: 5px
	border-radius: 5px
	+clr
	&__up
		position: relative
		width: 50%
		float: left
		font-size: 12px
		color: #7AC03C
		text-align: left
		line-height: 41px
		padding: 0 15px
		+a
		background: linear-gradient(135deg, #fff 0%, #feffff 50%, #cde8b7 100%)
		box-shadow: 1px 1px 1px 1px #bed6aa
		+tr(.3s)
		&:hover
			background: linear-gradient(135deg, #fff 0%, #feffff 0%, #cde8b7 100%)
		&:active
			box-shadow: -1px 1px 1px 1px #bed6aa inset

	&__down
		position: relative
		width: 50%
		float: right
		font-size: 12px
		color: #DD4D4D
		text-align: right
		line-height: 41px
		padding: 0 15px
		+a
		background: linear-gradient(45deg, #f2c0c0 0%, #feffff 50%, #fff 100%)
		box-shadow: 1px 1px 1px 1px #c5a2a2
		+tr(.3s)
		&:hover
			background: linear-gradient(45deg, #f2c0c0 0%, #feffff 100%, #fff 100%)
		&:active
			box-shadow: 1px 1px 1px 1px #c5a2a2 inset

.icon-up,
.icon-down
	position: absolute
	display: inline-block
	width: 23px
	height: 23px
.icon-up
	right: 20px
	top: 5px
	background-image: url("../img/icons/icon-up.png")
.icon-down
	top: 7px
	left: 20px
	background-image: url("../img/icons/icon-down.png")



// ##################
// ------------------
// info
//  ________________

.info
	// overflow: hidden
	+clr
	hr
		border: 1px solid $n
		border-bottom: 1px solid #e8e9ed
.info__name
	padding-bottom: 5px
	.ganre__wrap
		display: inline-block
		+r(620)
			margin-top: 10px
	h2
		font-size: 22px
		line-height: 1
		margin-bottom: 5px
		color: #000
		+um
	h4
		font-size: 11px
		color: $gray
		+um
	.countrie
		margin-right: 45px
.info__birthday
	// display: inline-block
	// vertical-align: top
	width: 70%
	padding-bottom: 5px
	display: table
	// border-bottom: 1px solid #e8e9ed
	p
		// display: inline-block/
		display: table-cell
		table-layout: fixed
		width: 117px
		vertical-align: top
		font-size: 12px
		color: #606060
	span
		// display: inline-block
		display: table-cell
		table-layout: fixed
		font-size: 12px
		color: #8A93A3
		vertical-align: top
		+a
	+clr
.info__text
	hr
		margin-top: 20px
	h3
		margin: 15px 0 10px
	p
		font-size: 12px
		color: $gray
		+a


// ##############
// ---------
//  PRISE

.prise
	width: 100%
	clear: both
	float: left
	margin-top: 10px
	+clr
	.title__text
		float: left
		margin-top: 5px
		margin-right: 20px
.prise__wrap
	float: left
	+r(740)
		width: 100%
	+clr
.prise__item
	display: inline-block
	width: 170px
	margin-left: 20px
	margin-bottom: 10px
	+clr
.prise__img
	float: left
	vertical-align: top
	width: 45px
	margin-right: 10px
	img
		max-width: 100%
		vertical-align: top
.prise__text
	padding: 5px 0
	+clr
	p
		font-size: 12px
		color: $gray
		+a
// .title__prise
// 	margin-top: 5px

.price__more
	float: right
	width: 110px
	margin-top: 5px
	padding: 0 0 0 20px
	border-left: 1px solid #e8e9ed
	color: $gray
	font-size: 11px
	+a
	+r(740)
		float: left
	&.show_740
		+r(345)
			display: none
	&.hide_740
		+r(345)
			display: block
			width: 100%
			margin-bottom: 10px
.prise_hide
	+clr
	.prise__item:nth-child(4n+1)
		margin-left: 0
	+r(782)
		.prise__item:nth-child(3n+1)
			margin-left: 0
	+r(760)
		.prise__item:nth-child(4n+1)
			margin-left: 20px
		.prise__item:nth-child(3n+1)
			margin-left: 20px


// ###############
// ---------------
// COMMENT


.comment
	margin-bottom: 25px
	display: table
	width: 100%
	padding-bottom: 10px
	border-bottom: 1px dashed #e5e5e5
	+clr
	&.extended
		.comment__sub_wrap
			// +tr(.3s)
			display: block
			// display: none

.comment__left
	display: table-cell
	padding: 0 20px
	width: 155px
	text-align: right
	+r(480)
		width: 145px
		padding: 0 15px
	.title__prise
		line-height: 1
		margin-bottom: 5px
	p
		color: #B3B3B3
		font-size: 11px
		line-height: 18px
	.rate
		color: #B3B3B3
.comment__right
	display: table-cell
	+clr
.comment__text
	font-size: 11px
	color: $gray
	padding-bottom: 20px
	+a
.comment__buttons
	margin-bottom: 10px
	+clr
.comment__more
	margin-left: 20px
	color: #6f83a6
	font-size: 11px
	cursor: pointer
	+a
	&:hover
		span
			border-bottom: 1px solid $n
	span
		border-bottom: 1px dotted #6f83a6

.comment__sub
	&_wrap
		display: none
		margin: 15px 0 20px
	strong
		font-size: 13px
		color: #000
		+a
	span
		font-size: 10px
		color: #B3B3B3
		margin-left: 10px
		+a
.comment__sub_commit
	position: relative
	padding: 0 0 10px 40px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 10px
		width: 16px
		height: 13px
		background-image: url("../img/icons/arrow_2.png")


// #################
// ----------------
//  input comment

.get__comment
	background-color: #F4F9FF
	+gh(#e9f2fd, #f4f9ff)
	margin: 30px 0
	padding: 10px 0 15px
	+clr
.get__comment_top
	text-align: center
	padding-bottom: 15px
	margin-bottom: 20px
	border-bottom: #d5deea
	p
		font-size: 12px
		color: #8A93A3
		+ur
.comment__write
	+clr
	.title__prise
		text-align: right
		float: left
		width: 15%
.comment__write_wrap
	position: relative
	float: right
	width: 85%
	padding: 0 10px 20px 15px
	&:after
		content: ""
		position: absolute
		top: 12px
		left: 9px
		display: inline-block
		width: 7px
		height: 7px
		background-image: url("../img/icons/textarea_corner.png")
		// +s($textarea_corner)
	textarea
		background-color: #FFF
		width: 100%
		min-height: 90px
		padding: 15px 20px
		-webkit-border-radius: 3px
		border-radius: 3px
		border: 1px solid #ededed
		border-bottom: none
		border-right: none
		resize: none
		+placeholder
			font-size: 12px
			color: $gray
			+a
.get__comment_rate
	margin-top: 20px
	+clr
	.stars
		margin-top: 13px
	.btn_yellow
		float: right
		+ub
