.profile
	display: table
	width: 100%
.profile__name,
.profile__photo,
.profile__info
	display: table-cell
	table-layout: fixed
	width: 33.3%//del
	vertical-align: middle
.profile__name
	text-align: right
.profile__photo
	text-align: center
.profile__info
	text-align: left