// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)



body
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 1.5
	color: #606060


.out
	position: relative
	min-height: 100%
	max-width: 768px
	margin: 0 auto /* -205px */
	overflow: hidden
	+clr



$n: transparent
$tc: #606060

.container
	width: 98%
	margin: 0 auto
	+clr


+font(Ubuntu, Ubuntu)

=ul
	font-family: Ubuntu, Arial, sas-serif
	font-weight: 300
=ur
	font-family: Ubuntu, Arial, sas-serif
	font-weight: 400
=ub
	font-family: Ubuntu, Arial, sas-serif
	font-weight: 600
=ue
	font-family: Ubuntu, Arial, sas-serif
	font-weight: 700

=a
	font-family: Arial, sans-serif
	font-weight: normal

// #################
// -------------
// header
// _____________

.header
	+clr
.header__top
	height: 45px
	position: relative
	background-color: #0b1a2c
	+clr

.burger
	background-color: $n
	display: inline-block
	margin-top: 10px
	width: 30px
	height: 27px
	background-image: url("../img/icons/burger__menu.png")
	+r(400)
		width: 36px
		height: 26px
		background-color: $n
		background-image: url("../img/icons/burger__menu_480.png")

.header__nav
	position: relative
	float: left
	width: 60%
	height: 45px
	+clr
	+r(680)
		width: 150px
	+r(360)
		width: 120px
.logo
	display: inline-block
	background-image: url("../img/icons/logo.png")
	width: 87px
	height: 26px
	vertical-align: top
	margin: 10px 0 0 7%
	+r(360)
		margin-left: 0
		+scale(.7)
	h1
		+hidetext
.form__header
	position: relative
	float: right
	display: inline-block
	margin-top: 7px
	vertical-align: top
	+r(680)
		display: none
	input
		background-color: #1E3450
		width: 230px
		height: 30px
		-webkit-border-radius: 30px
		border-radius: 30px
		+r(710)
			width: 180px
.icon__lupa
	position: absolute
	top: 2px
	right: 10px
	width: 28px
	height: 26px
	background-image: url("../img/icons/search_icon_1.png")
	background-color: $n

.navigation
	display: none
	position: absolute
	width: 245px
	background-color: #1E3450
	font-size: 0
	top: 45px
	left: -10px
	z-index: 400
	&.is_active
		display: block
	&__item
		a
			border-bottom: 1px solid #27415e
			display: block
			padding: 0 30px
			font-size: 16px
			line-height: 33px
			color: #7BB4D8
			+ul
			+tr(.3s)
			&:hover
				color: #B8D4E6
				+ub
	&__subitem a
		padding: 0 60px
		border-bottom: 1px solid #27415e
.enter
	float: right
	vertical-align: top
	margin-top: 7px
	+clr
	&__box
		float: left
		width: 21px
		height: 20px
		margin-top: 5px
		display: inline-block
		background-image: url("../img/icons/account_icon_1.png")
		+r(360)
			display: none
	&__user
		display: inline-block
		+clr
		span
			display: inline-block
			color: #FFF
			text-decoration: underline
			margin-right: 5px
			padding-top: 5px
		&:hover
			span
				text-decoration: none
	&__exit
		padding-left: 5px
		border-left: 1px solid #243244
		color: #5B829A
		&:hover
			color: lighten(#5B829A, 15%)

.user__ava
	width: 32px
	height: 32px
	display: inline-block
	margin: 0 15px 0
	-webkit-border-radius: 100%
	border-radius: 100%
	vertical-align: top
	img
		max-width: 100%
		vertical-align: top


.header__bottom
	width: 100%
	+g(#fff, #d5e6f9)
	+clr
	+r(505)
		+g4(#fff 5%, #d5e6f9 50%, #fff 50%, #d5e6f9 100%)

.menu__bottom
	position: relative
	top: 0
	left: 0
	width: 100%
	display: table
	+clr
	> li
		display: table-cell
		position: relative
		text-align: center
		height: 84px
		// border-left: 1px solid #bbd6f2
		+r(505)
			display: inline-block
			height: 45px
		&:hover
			.menu__bottom_submenu
				display: block
				z-index: 10
		&:before
			content: ' '
			display: block
			position: absolute
			top: 0
			bottom: 0
			left: -1px
			width: 1px
			background-color: #cae0f3
			// background: linear-gradient(to bottom, #e5f0f7, #bbd6f2)
			+g(#bbd6f2, #e5f0f7)

		&:first-child:before
			content: none
		> a
			// padding: 0 15px
			display: block
			font-size: 14px
			height: 84px
			line-height: 110px
			color: #000
			text-transform: uppercase
			position: relative
			+ub
			+r(505)
				height: 45px
				line-height: 45px
			+r(425)
				padding-left: 10px
			+r(390)
				padding-left: 20px
			i
				display: inline-block
				position: absolute
				top: 12px
				left: 50%
				transform: translate(-50%, 0)
				+r(505)
					top: 5px
					left: 5px
					transform: translate(0, 0)
				+r(490)
					+scale(.7)
				+r(340)
					+scale(.5)
					left: 0
			&:hover
				+gh3(#7eb5d9, #afd0eb, #7eb5d9)
.menu__bottom_submenu
	position: absolute
	top: 84px
	left: 0
	min-width: 100%
	max-width: 200px
	height: auto
	padding: 10px 0
	background-color: #7eb6d9
	border-top: 1px solid #73a6c5
	border-radius: 0 0 3px 3px
	box-shadow: 0 18px 22px rgba(0,0,0,0.6)
	display: none
	+r(505)
		top: 44px
	li
		a
			text-transform: uppercase
			display: block
			padding: 0 20px 0 15px
			color: #FFF
			font-size: 11px
			line-height: 33px
			text-align: left
			&:hover
				background-color: #71a4c5
				text-decoration: underline


.menu__pad_1,
.menu__pad_2,
.menu__pad_3
	+r(505)
		width: 33%
		text-align: center !important
	// +iphone5
	// 	width: 33%
	// 	text-align: center !important
.menu__pad_1
	+r(365)
		width: 27%
.menu__pad_2
	+r(365)
		width: 36%
.menu__pad_3
	+r(365)
		width: 36%
.menu__pad_4
	+r(505)
		width: 27%
		text-align: center !important
	+r(365)
		width: 30%
.menu__pad_5
	+r(505)
		width: 50%
		text-align: center !important
	+r(365)
		width: 52%
	// +iphone5
	// 	width: 50%
	// 	text-align: center !important
.menu__pad_6
	text-align: center!important
	+r(505)
		width: 22%
	+r(365)
		width: 18%
	// +r(768)
	// 	display: none!important
	// +iphone5
	// 	width: 22%
.menu__pad_4
	+r(505)
		border-left: 0!important
		&:before
			content: none
			display: none

.icon_kino
	width: 24px
	height: 34px
	background-image: url("../img/icons/icon_kino.png")
.icon_serial
	width: 30px
	height: 32px
	background-image: url("../img/icons/icon_serial.png")
.icon_tele
	width: 27px
	height: 30px
	background-image: url("../img/icons/icon_tele.png")
.icon_sport
	width: 30px
	height: 30px
	background-image: url("../img/icons/icon_sport.png")
.icon_mult
	width: 37px
	height: 33px
	background-image: url("../img/icons/icon_mult.png")

.menu__bottom
	li:hover
		.icon_kino
			background-image: url('../img/icons/icon_kino_h.png')
		.icon_serial
			background-image: url('../img/icons/icon_serial_h.png')
		.icon_tele
			background-image: url('../img/icons/icon_tele_h.png')
		.icon_sport
			background-image: url('../img/icons/icon_sport_h.png')
		.icon_mult
			background-image: url('../img/icons/icon_mult_h.png')

// #################
// ----------------
// footer
// ________________

.push
	clear: both
	height: 205px

.footer
	width: 100%
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	height: 205px
	background-color: #0b1a2c

.footer__top
	position: relative
	height: 78px
	+g( #0b1b2e 50%, #1e497b)
	+clr
.footer__form_wrap
	height: 35px
	padding: 17px 0 0 20px
	+clr
	+box
	+r(715)
		padding-top: 5px
	label
		float: left
		display: inline-block
		font-size: 18px
		color: #DCE9FB
		line-height: 1
		text-align: right
		vertical-align: top
		width: 27%
		+r(715)
			width: 100%
			margin-bottom: 5px
			text-align: left
	input
		float: right
		max-width: 498px
		width: 70%
		height: 38px
		padding: 0 60px 0 20px
		margin-right: 10px
		-webkit-border-radius: 3px
		border-radius: 3px
		border: 1px solid #516c84
		+box
		+r(715)
			width: 100%
			max-width: 100%
			margin-right: 0

.btn_check
	position: absolute
	top: 18px
	right: 11px
	-webkit-border-radius: 0 3px 3px 0
	border-radius: 0 3px 3px 0
	width: 40px
	height: 36px
	background-color: #f4e570
	+r(715)
		top: 29px
		right: 1px
	i
		position: absolute
		top: 8px
		right: 5px
		width: 29px
		height: 19px
		background-image: url("../img/subs_arrow.png")

.footer__btn
	display: none
	+r(400)
		display: inline-block
		margin-top: 30px
		margin-left: 10px
		width: 36px
		height: 26px
		background-color: $n
		background-image: url("../img/icons/burger__menu_480.png")
.footer__nav
	float: left
	+clr
.footer__menu
	margin-right: 35px
	float: left
	margin-top: 15px
	+r(400)
		display: none
	h5
		display: inline-block
		margin-bottom: 20px
		a
			color: #DCE9FB
			font-size: 12px
			text-decoration: underline
			font-family: Arial, sans-serif
			&:hover
				text-decoration: none
	a
		display: block
		font-size: 12px
		color: #7BB4D8
		line-height: 20px
		font-family: Arial, sans-serif
		&:hover
			text-decoration: underline
.footer__soc
	float: right
	margin-top: 25px

.copy
	font-size: 11px
	margin-top: 15px
	color: #7BB4D8
	font-family: Arial, sans-serif
.soc_vk
	width: 17px
	height: 10px
	background-image: url("../img/icons/vk.png")
.soc_tw
	width: 14px
	height: 10px
	background-image: url("../img/icons/tw.png")
.soc_f
	width: 7px
	height: 14px
	background-image: url("../img/icons/f.png")
.soc_you
	width: 9px
	height: 12px
	background-image: url("../img/icons/you.png")