.film_rating
	position: relative
	overflow: hidden
	margin: 12px 0
	background: linear-gradient(135deg, #7db5d9 0%, #99c5e3 84%, #bfd9f1 100%)
	+clr
	+r(600)
		width: 100%

.voice
	display: block
	float: left
	width: 24%
	height: 38px
	padding-top: 4px
	text-align: center
	border: 2px solid #79bc38
	background-color: #FFF
	+r(710)
		width: 26%
	+r(610)
		width: 27%
.voice_1
	font-size: 16px
	line-height: 130%
	color: #8a93a3
	padding-left: 25px
	background: url('../img/star_a.png') 0 50% no-repeat
	display: inline-block
	vertical-align: middle
	margin-right: 10px
	+r(665)
		padding-left: 20px
		margin-right: 5px
.voice_2
	font-size: 11px
	color: #8a93a3
	line-height: 1
	width: 50px
	display: inline-block
	vertical-align: middle
	text-align: left

.rank
	position: relative
	float: left
	width: 23%
	height: 38px
	padding-top: 4px
	text-align: center
	border: 2px solid #1e3450
	border-left: none
	background-color: #FFF
	span
		font-size: 16px
		color: #1E3450
		margin-left: 7px
	i
		display: inline-block
		vertical-align: text-bottom
		width: 55px
		height: 22px
		background-image: url("../img/icons/rank.png")
.stars
	position: relative
	float: left
	width: 37%
	height: 38px
	padding-top: 4px
	text-align: center
	border-bottom: 2px solid #1e3450
	border-top: 2px solid #1e3450
	z-index: 2
	background-color: #FFF
	&:after
		content: ' '
		position: absolute
		top: -2px
		right: -16px
		width: 16px
		height: 38px
		background: url('../img/icons/rate_triagle.png')
.descr
	width: 50px
	text-align: left
	line-height: 1
	display: inline-block
	vertical-align: top
.result
	display: block
	float: left
	width: 12.2%
	padding-left: 2%
	height: 38px
	color: #1E3450
	font-size: 20px
	text-align: center
	// background-color: #99c5e3
	// background: linear-gradient(135deg, #7db5d9 0%, #99c5e3 50%, #bfd9f1 100%)
	line-height: 38px
	+a

.stars__rank
	display: none

.shared
	margin: 25px 0

.soda
	float: right
	margin-top: 15px
	+clr
	p
		color: #606060
		font-size: 11px
		float: left
		+a
		margin-right: 10px
.soda_soc
	width: 170px
	height: 18px
	float: left
	vertical-align: top
	background-image: url("../img/soc1.jpg")
	+clr


// ################
// ################
// DETALE

.get_detale
	width: 100%
	+clr
	a
		display: inline-block
		padding: 5px 8px
		background-color: #D7E9F9
		-webkit-border-radius: 3px 3px 0 0
		border-radius: 3px 3px 0 0
		&.is_active
			i
				+rotate(0)
		span
			color: #3888E4
			font-size: 11px
			border-bottom: 1px solid #3888E4
			+a
		i
			margin-left: 3px
			display: inline-block
			width: 5px
			height: 3px
			margin-bottom: 2px
			background-image: url("../img/icons/bird__top.png")
			+rotate(90)
	&:hover
		span
			border-bottom: $n
.detale
	padding: 15px
	width: 100%
	background-image: url("../img/filmBG.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: 0 25%
	-webkit-border-radius: 0 3px 3px 3px
	border-radius: 0 3px 3px 3px
	+clr
	p
		display: table-row
	strong
		display: table-cell
		padding-right: 10px
		font-size: 12px
		color: #494848
		font-family: Arial, sans-serif
	span
		display: table-cell
		font-size: 12px
		color: #7D7D7D
		padding-bottom: 6px
		+a
	a
		display: inline
		font-size: 12px
		color: #7D7D7D
		text-decoration: underline
		+a
		&:hover
			text-decoration: none
.detale__left
	display: table
	float: left
	max-width: 43%
	padding-right: 30px
	margin-right: 40px
	border-right: 1px solid #b9d9f1
	strong
		min-width: 105px
		// display: inline-block

.detale__right
	display: table
	strong
		min-width: 160px
		// display: inline-block


// ################

.tab
	+clr
.tab__name
	cursor: pointer
	height: 32px
	background-color: #DCE9FB
	padding: 0 10px
	margin: 3px 0 10px
	-webkit-border-radius: 3px
	border-radius: 3px
	&.is_active
		i
			+rotate(180)
	span
		color: #1E3450
		font-size: 13px
		margin-right: 10px
		line-height: 32px
		+a
		font-weight: bold
	i
		display: inline-block
		width: 5px
		height: 3px
		margin-bottom: 2px
		background-image: url("../img/icons/bird__top.png")
		+rotate(0)
.tab__contant
	+clr
	.comment
		border-bottom: $n
		margin-bottom: 10px
	.comment__text
		padding-right: 30px
	.slider__video_item
		width: 50%
		float: left
		margin-right: 0
		padding-right: 10px
		margin-bottom: 15px
		+clr
	.line
		margin-bottom: 15px

.tab_slider2,
.tab_slider3
	text-align: center
	padding-left: 23px
	+clr
.pack
	width: 155px
	// margin: 0 10px
	margin-bottom: 10px
	float: left
	+clr
.pack__wallpaper
	width: 215px
	img
		max-width: 100%
		vertical-align: top
.pack__img
	width: 155px
	img
		max-width: 100%
		vertical-align: top
.pack__text
	width: 155px
	text-align: center
	margin: 7px 0
	h4
		font-size: 14px
		line-height: 1
		color: #000
		+a
	span
		font-size: 11px
		color: #8A93A3


.comic
	display: block
	width: 210px
	height: 85px
	margin: 15px 0 20px
	padding-right: 20px
	+clr
.comic__img
	width: 83px
	height: 83px
	margin-right: 20px
	float: left
	-webkit-border-radius: 100%
	border-radius: 100%
	overflow: hidden
	img
		max-width: 100%
		vertical-align: top
.comic__text
	float: left
	vertical-align: middle
	height: 85px
	padding-top: 25px
	strong,
	span
		display: block
	strong
		text-transform: uppercase
		font-size: 14px
		color: #000
		+ur
	span
		font-size: 11px
		color: #8A93A3
		+ur

.trailer
	padding: 0 25px 15px 25px
	+clr
.trailer__img
	width: 45%
	margin-right: 20px
	vertical-align: top
	position: relative
	float: left
	&:before
		content: ""
		+coverdiv
		background-color: rgba(0, 0, 0, .5)
		+tr(.5s)
	&:hover::before
		background-color: rgba(0, 0, 0, .0)
		+tr(.5s)
	img
		max-width: 100%
		vertical-align: top
	.btn__play
		+vcenter

.trailer__text
	+clr
.trailer__text_wrap
	position: relative
	top: 50%
	transform: translateY(50%)
	strong
		font-size: 14px
		+ur
		color: #000
		font-weight: bold
		margin-bottom: 5px
	p
		font-size: 11px
		color: #8A93A3
		+ur






.soundtracks
	position: relative
	width: 98%
	height: 375px
	margin: 0 auto
	padding-top: 20px
	+clr
.cover
	float: left
	width: 50%
	height: auto
	position: relative
	padding: 0 20px 0 50px
	img
		max-width: 100%
		vertical-align: top
		width: 100%
	// &:before
	// 	display: block
	// 	content: ''
	// 	width: 248px
	// 	height: 45px
	// 	background: url('../img/soundtracks_upper.png') 0 0 no-repeat
	// 	position: absolute
	// 	left: 50%
	// 	margin-left: -124px
	// 	top: -45px
	// &:after
	// 	display: block
	// 	content: ''
	// 	width: 420px
	// 	height: 101px
	// 	background: url('../img/soundtracks_lower.png') 0 0 no-repeat
	// 	position: absolute
	// 	left: 50%
	// 	margin-left: -210px
	// 	bottom: -95px

.playlist
	float: right
	width: 50%
	height: 345px
// 	margin-left: 500px
.playlist_inner
	position: relative
	width: 100%
	height: 100%
	overflow-y: scroll


.track
	display: block
	position: relative
	margin-right: 25px
.track:nth-child(2n+1)
	background: #f2f4f7
.track_slider
	position: absolute
	bottom: 0
	right: 0
	left: 0
	height: 2px
	background: #e7ebf0
	cursor: pointer
.track_slide
	display: block
	height: 2px
	background: #3f8abd
.track_number,
.track_info,
.track_buttons
	display: table-cell
	vertical-align: middle
	height: 30px
	position: relative
.track_number
	width: 50px
	font-size: 11px
	line-height: 130%
	color: #8198b3
	text-align: center
.track_author,
.track_time,
.track_name
	font-size: 11px
	color: #8198b3
	line-height: 1
.track_name
	font-size: 11px
	color: #000
.track_time
	position: absolute
	height: 14px
	right: 0
	top: 50%
	margin-top: -7px
.track_info
	width: 340px
	padding: 5px 0
	height: 20px
.track_buttons
	width: 30px
	text-align: center

.track_play,
.track_pause
	display: inline-block
	cursor: pointer
.track_play
	width: 11px
	height: 12px
	background-image: url("../img/icons/sound_play.png")
	&:hover
		background-image: url("../img/icons/sound_playH.png")
.track_pause
	width: 8px
	height: 11px
	background-image: url("../img/icons/sound_pause.png")


// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar
// jspHorizontalBar




.jspContainer
	overflow: hidden
	position: relative
.jspPane
	position: absolute
.jspVerticalBar
	position: absolute
	top: 0
	right: 0
	width: 10px
	height: 100%
	background: $n
	border-radius: 3px
.jspHorizontalBar
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 6px
	// background: red
.jspCap
	display: none
.jspHorizontalBar .jspCap
	float: left
.jspTrack
	background: #e0e6ef
	width: 2px
	position: relative
.jspDrag
	background: #478fc0
	position: relative
	top: 0
	left: -3px
	width: 8px
	cursor: pointer
	border-radius: 4px
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag
	float: left
	height: 100%
.jspHorizontalBar .jspDrag
	width: auto
	left: 0
	height: 8px
	top: -1px
.jspArrow
	background: #50506d
	text-indent: -20000px
	display: block
	cursor: pointer
	padding: 0
	margin: 0
.jspArrow.jspDisabled
	cursor: default
	background: #80808d
.jspVerticalBar .jspArrow
	height: 16px
.jspHorizontalBar .jspArrow
	width: 16px
	float: left
	height: 100%
.jspVerticalBar .jspArrow:focus
	outline: none
.jspCorner
	background: #eeeef4
	float: left
	height: 100%






