
// recomended slider



.slider__recomend
	// margin-bottom: 200px
	+clr
.slider__recomend_item
	text-align: center
	float: left
	padding: 0 10px
	+box
	// width: 400px
	+clr
.recomend__img
	// float: left
	// height: 193px
	box-shadow: 0px 22px 43px 0px rgba(44, 77, 121, 0.31)
	img
		max-width: 100%
		vertical-align: top
		// float: left
.recomend__text
	// float: left
	height: 84px
	width: 100%
	text-align: center
	padding: 15px 0px
	white-space: pre-line
	word-wrap: break-word
	+box
	+clr
	strong
		font-size: 18px
		font-family: Arial, sans-serif
		color: #000
		font-weight: 100
		letter-spacing: -.3px

	p
		font-family: Arial, sans-serif
		font-size: 11px
		color: #8a93a3


// ####################
// --------------------
// Slider VideO

.slider__video
	margin-bottom: 30px
	+clr
.slider__video_item
	float: left
	width: 50vw
	max-width: 384px
	// padding-right: 10px
	margin-right: 10px
	+box
	+clr
.video__img
	position: relative
	float: left
	margin-right: 10px
	max-width: 155px
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 99%
		height: 99%
		-webkit-border-radius: 25%
		border-radius: 7%
		-webkit-box-shadow: 0 0 8px 0 #9ab0ce
		box-shadow: 0 0 8px 0 #9ab0ce
		z-index: -1
	img
		max-width: 100%
		vertical-align: top
.video__text
	float: left
	strong
		display: block
		font-size: 18px
		color: #000
		margin-bottom: 5px
		+a
	.ganre__item
		color: #6F83A6
		background-color: #d2e3f9
		border-radius: 3px
		box-shadow: inset 0.695px 0.719px 1px 0px rgba(54, 132, 227, 0.22)
	.rate
		margin: 7px 0
.rate
	position: relative
	+a
	font-size: 12px
	color: #8A93A3
	padding-left: 20px
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 0
		width: 13px
		height: 12px
		background-image: url("../img/icons/star.png")
.countrie
	font-size: 11px
	color: #8A93A3
	+a

.slider__mult
	margin-bottom: 30px
	+clr


// #####################
// ---------------------
// SlDER BLUE

.slider_blue
	background-color: #0B1A2C
	padding-top: 1px
	+clr
	.title__slider
		h6
			color: #FFF
			&:before,
			&:after
				display: none
		span
			text-transform: uppercase
			color: #E8DB6B
			font-size: 24px
			+ub
		.slider_next,
		.slider_prev
			background-color: #143051
		.slider_next
			&:before
				background-image: url("../img/icons/pi_next.png")
				width: 16px
				height: 17px
		.slider_next:hover::before
			background-image: url("../img/icons/pi_next_h.png")
			width: 19px
			height: 19px

		.slider_prev
			&:before
				background-image: url("../img/icons/pi_prev.png")
				width: 15px
				height: 17px
		.slider_prev:hover::before
			background-image: url("../img/icons/pi_prev_h.png")
			width: 19px
			height: 19px
	.recomend__text
		height: 93px
		padding: 0
		strong
			color: #FFF
			line-height: 1.2
		p
			font-size: 11px
			line-height: 18px
			+a