a
	text-decoration: none
.wrapper
	padding: 20px 0
	background-color: #FFF
	+clr
.clear
	clear: both
	display: table
	height: 0

.hide600
	+r(600)
		display: none
.show600
	display: none
	+r(600)
		display: block
.hide_740
	+r(740)
		display: none
.show_740
	display: none
	+r(740)
		display: block
.width_first
	width: 32.2%
.width_second
	width: 34.4%
.width_third
	width: 33.3%

.breadcrumbs
	background-color: #0b1a2c
	+clr
	li
		display: inline-block
		vertical-align: top
		height: 40px
		i
			display: inline-block
			width: 4px
			height: 5px
			background-image: url("../img/icons/cisa.png")
			margin-top: 17px
			margin-right: 10px
	a
		position: relative
		font-size: 12px
		color: #DCE9FB
		line-height: 40px
		margin-right: 15px
		vertical-align: top
		+a
		+r(600)
			font-size: 18px
			margin-left: 25px
		&:hover
			color: #5B829A
	span
		font-size: 12px
		color: #5B829A
		line-height: 40px
		vertical-align: top
		+a
		+r(600)
			font-size: 18px
			margin-left: 0
.crumbs
	+clr
	+r(600)
		display: none
.crumbs600
	position: relative
	z-index: 350
	+clr
	display: none
	+r(600)
		display: block
	li
		display: none
		border-bottom: 1px solid #27415E
		i
			display: none
		&.visible
			display: block
			&.is_active
				i
					+rotate(90)
		&.is_active
			display: block
	span
		position: relative
		font-size: 20px
		color: #DCE9FB
		cursor: pointer
		+a
		font-weight: bold
		i
			position: absolute
			top: -7px
			right: -30px
			display: inline-block
			+arr(8, 5, #DCE9FB, t)
			+rotate(180)
	a
		font-size: 18px
		color: #7BB4D8
		+ur
		&:hover
			color: #FFF

+selection
	background-color: rgba(253, 191, 7, .4)
	color: $blue




// buttons


.btn
	&__soc
		position: relative
		display: inline-block
		vertical-align: top
		margin-right: 10px
		width: 30px
		height: 30px
		-webkit-border-radius: 100%
		border-radius: 100%
		background-color: #25343F
		+tr(.3s)
		&:hover
			background-color: lighten(#25343F, 60%)
		&:active
			-webkit-box-shadow: 0 0 5px 0px #fff inset, 0 0 9px #fff
			box-shadow: 0 0 5px 0px #fff inset, 0 0 9px #fff
		&:last-child
			margin-right: 0
		i
			+vcenter
		&_you
			@extend .btn__soc
			background-color: #D64242
			&:hover
				background-color: lighten(#D64242, 10%)
	&__search
		position: relative
		padding: 0 20px
		font-family: Arial, sans-serif
		font-size: 14px
		color: #4F4113
		font-weight: bold
		height: 40px
		-webkit-border-radius: 3px
		border-radius: 3px
		z-index: 5
		+g(#f6ea79, #dbbc51)
		&:hover
			+g(#dbbc51, #f6ea79)
		&:active
			-webkit-box-shadow: inset 0 0 8px 0 #fff
			box-shadow: inset 0 0 8px 0 #fff
	&__more
		position: relative
		padding: 0 15px
		height: 38px
		background-color: #eff6ff
		border-radius: 3px
		box-shadow: inset 1.695px 1.719px 1px 0px rgba(54, 132, 227, 0.22)
		z-index: 10
		&:before
			content: ""
			position: absolute
			top: 0
			left: -10px
			width: 10px
			height: 100%
			background-color: #FFF
		&:after
			content: ""
			position: absolute
			top: 0
			right: -10px
			width: 10px
			height: 100%
			background-color: #FFF

		span
			color: #52AFE9
			font-size: 14px
			+a
			+r(600)
				font-size: 18px
	&_see
		position: relative
		width: 163px
		height: 38px
		margin-top: 15px
		-webkit-border-radius: 3px
		border-radius: 3px
		text-align: left
		padding: 0 20px
		color: #4E4013
		font-size: 14px
		+a
		font-weight: bold
		+g(#eedb6e, #dab94f)
		&:hover
			+g(#dab94f, #eedb6e)
		&:after
			content: ""
			position: absolute
			top: 7px
			right: 20px
			width: 23px
			height: 23px
			background-image: url("../img/icons/play.png")
	&_seen
		position: relative
		height: 38px
		text-transform: uppercase
		margin-top: 15px
		-webkit-border-radius: 3px
		border-radius: 3px
		text-align: left
		padding: 0 20px
		color: #4E4013
		font-size: 14px
		+a
		font-weight: bold
		+g(#eedb6e, #dab94f)
		&:hover
			+g(#dab94f, #eedb6e)
	&_comment
		padding: 0 10px
		height: 24px
		background-color: #DCE9FB
		color: #6F83A6
		-webkit-border-radius: 3px
		border-radius: 3px
		+r(600)
			font-size: 16px
		i
			display: inline-block
			width: 10px
			height: 8px
			margin-left: 5px
			background-image: url("../img/icons/arrow.png")
		&:hover
			opacity: 0.8
		&:active
			-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .3)
			box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .3)
			opacity: 1
	&_yellow
		display: inline-block
		padding: 9px 23px 10px 23px
		background-color: #f6e979
		background: linear-gradient(to bottom right, #f6e979 0%, #ebd768 50%, #d0a945 100%)
		font-size: 14px
		height: 43px
		-webkit-border-radius: 43px
		border-radius: 43px
		color: #4e4013
		font-weight: bold
		position: relative
		text-transform: uppercase
		&:hover
			background: #eedd67
			border-top: 1px solid #cdbd5a
			padding-top: 8px
	&__bg
		background-image: url("../img/btn.jpg")
		background-size: cover
		background-color: $blue
		height: 46px
		width: 40%
		margin-left: 10px
		text-align: left
		padding-right: 15px
		padding-left: 30px
		vertical-align: middle
		line-height: 46px
		font-size: 14px
		color: #4E4013
		-webkit-border-radius: 3px
		border-radius: 3px
		+a
		&:hover
			opacity: 0.7
		&:active
			+scale(.95)
			-webkit-box-shadow: 0 44px 0 7px rgba(0, 0, 0, .2) inset
			box-shadow: 0 44px 0 7px rgba(0, 0, 0, .2) inset
		span
			float: right
			font-size: 31px
			color: #fff
			sub
				font-size: 11px
				text-align: bottom
	&__play
		background-color: red
		width: 54px
		height: 39px
		background-image: url("../img/icons/btn_play.png")
		-webkit-border-radius: 3px
		border-radius: 3px
		&:hover
			opacity: 0.8
		&:active
			-webkit-box-shadow: inset 0 0 8px 0 #fff
			box-shadow: inset 0 0 8px 0 #fff
			opacity: 1



.line
	position: relative
	margin: 30px 0
	text-align: center
	overflow: hidden
	clear: both
	&:before,
	&:after
		content: ""
		position: absolute
		width: 50%
		top: 19px
		height: 2px
		background-color: #DFEBFB
		z-index: 1
	&:before
		left: 50%
		margin-left: -65%
	&:after
		right: 50%
		margin-right: -65%

.line_100
	position: relative
	margin: 30px 0
	text-align: center
	overflow: hidden
	&:after
		content: ""
		position: absolute
		top: 19px
		height: 2px
		background-color: #DFEBFB
		z-index: 1
	&:after
		width: 100%
		margin: 0
		right: 0
		left: 0
	// .hide_480
	// 	+r(600)
	// 		&:after


.searched
	position: relative
	display: inline-block
	float: right
	margin-top: 5px
	vertical-align: middle
	background-color: #EEF3FC
	+g(#E5EFFB, #E3EEFB)
	padding: 0 20px
	font-size: 12px
	color: #8A93A3
	z-index: 5
	span
		font-size: 18px
		margin-left: 5px
		vertical-align: middle


.linear
	position: relative
	width: 100%
	height: 1px
	background-color: #d6deea
	margin: 30px 0
	.liner_item
		position: absolute
		width: auto
		top: -8px
		left: 50%
		transform: translateX(-50%)
		padding: 0 10px
		background-color: #fff
		-ms-word-wrap: normal
		word-wrap: normal
		white-space: nowrap

.role__up
	position: absolute
	top: 10px
	color: #3684E3
	right: 15px
	padding-right: 10px
	text-decoration: underline
	&.is_active
		i
			+rotate(0)
	span
		position: relative
		i
			position: absolute
			top: 6px
			right: -10px
			width: 5px
			height: 3px
			background-image: url("../img/icons/bird__top.png")
			+rotate(180)
	&:hover
		text-decoration: none

.column
	width: 48%
	+clr
.get__right
	float: right
.get__left
	float: left

.ganre__wrap
	text-align: left
	+clr
.ganre__item
	display: inline-block
	padding: 2px 5px
	color: #8A93A3
	font-size: 12px
	font-family: Arial, sans-serif
	margin-right: 5px
	margin-bottom: 2px
	+r(600)
		font-size: 16px
	&.is_active,
	&:hover
		color: #6F83A6
		background-color: #d2e3f9
		border-radius: 3px
		box-shadow: inset 1.695px 1.719px 1px 0px rgba(54, 132, 227, 0.22)



//  title


.title__slider
	position: relative
	text-align: center
	margin: 30px 0 20px
	h6
		position: relative
		display: inline-block
		font-size: 24px
		text-transform: uppercase
		color: #2C3A45
		padding: 0 80px
		vertical-align: middle
		text-align: center
		+ub
		+r(505)
			font-size: 20px
		+r(400)
			font-size: 16px
			padding: 0 60px
		&:before
			content: ""
			position: absolute
			top: 15px
			// left: -230px
			left: -130px
			width: 125px
			height: 2px
			background-image: url("../img/icons/slider_dot_l.png")
			+r(400)
				top: 13px
		&:after
			content: ""
			position: absolute
			top: 15px
			// right: -230px
			right: -130px
			width: 125px
			height: 2px
			background-image: url("../img/icons/slider_dot_r.png")
			+r(400)
				top: 13px
	.slider_next,
	.slider_prev
		position: absolute
		top: 50%
		margin-top: -16px
		z-index: 50
	.slider_next
		right: 0
		+r(400)
			right: -15px
	.slider_prev
		left: 0
		+r(400)
			left: -15px

.title__slider_wrap
	display: inline-block
	position: relative

.title__small
	font-size: 19px
	color: #000
	text-transform: uppercase
	line-height: 1.9
	+ur
.title__genre
	font-size: 14px
	color: #000
	font-family: Arial, sans-serif
	text-align: left
	font-weight: bold
	padding-left: 5px

.title__catalog
	font-size: 14px
	color: #000
	+a
	+r(600)
		font-size: 18px

.title__text
	font-size: 22px
	color: #000
	margin: 15px 0 10px //??????
	+a
	+r(600)
		font-size: 24px  // actor
.title__prise
	font-size: 14px
	color: #000
	line-height: 1
	+a
	+r(600)
		font-size: 18px



// slider

// .slider_prev
// 	+ h6
// 		&:before
// 			left: -230px
// 		&:after
// 			right: -230px

.slider_prev,
.slider_next
	margin: 0 40px 0 30px
	position: relative
	top: 7px
	background-color: #D7E7F9
	width: 30px
	height: 30px
	-webkit-border-radius: 100%
	border-radius: 100%
	&:hover
		background-color: darken(#D7E7F9, 20%)
	&:before
		content: ""
		+vcenter
		background-image: url("../img/icons/slide_prev.png")
		width: 13px
		height: 13px
.slider_next
	margin: 0 30px 0 40px
	&:before
		background-image: url("../img/icons/slide_next.png")

.more
	position: relative
	color: #3684E3
	font-size: 12px
	font-family: Arial, sans-serif
	&:after
		content: ""
		position: absolute
		top: 5px
		right: -10px
		width: 5px
		height: 3px
		background-image: url("../img/icons/bird__top.png")
		+rotate(90)
	&:hover
		text-decoration: underline


.just_text
	font-size: 11px
	color: #8A93A3
	margin-bottom: 25px
	+a
	strong
		font-weight: bold
	+r(600)
		font-size: 16px

.socio
	+clr
	a
		display: inline-block
		vertical-align: top
		margin-right: 10px
		&:last-child
			margin-right: 0
		&:hover
			i
				+rotate(360)
				+tr(.3s)
		&:active
			i
				+scale(.8)


.icon-f,
.icon-tw,
.icon-vk,
.icon-g
	display: inline-block
	width: 47px
	height: 46px
	vertical-align: top
	+tr(.3s)

.icon-f
	background-image: url('../img/icons/icon-f.png')
.icon-tw
	background-image: url('../img/icons/icon-tw.png')
.icon-vk
	background-image: url('../img/icons/icon-vk.png')
.icon-g
	background-image: url('../img/icons/icon-g.png')


.rate
	position: relative
	+a
	font-size: 12px
	color: #8A93A3
	padding-left: 20px
	+r(600)
		font-size: 16px

	&:before
		content: ""
		position: absolute
		top: 0px
		left: 0
		width: 13px
		height: 12px
		background-image: url("../img/icons/star.png")
		+r(600)
			width: 15px
			height: 15px
			background-image: url("../img/icons/star-1.png")
.countrie
	font-size: 11px
	color: #8A93A3
	+a
	+r(600)
		font-size: 16px



.pages
	text-align: center
	margin: 0 auto
	+clr
	li
		display: inline-block
		margin: 0 2px
		height: 26px
		-webkit-border-radius: 3px
		border-radius: 3px
		overflow: hidden
		vertical-align: top
		&.is_active
			background-color: #DCE9FB
	a
		display: block
		color: #6F83A6
		font-size: 11px
		line-height: 26px
		padding: 0 10px
		+a
		+r(600)
			font-size: 16px

.stars
	vertical-align: middle
	display: inline-block
	cursor: default
// .stars .descr
// 	font-size: 11px
// 	line-height: 130%
// 	color: #8a93a3
// 	display: inline-block
// 	vertical-align: middle
// 	padding-right: 12px
// 	padding-top: 1px




.get__comment_rate
	.stars
		background-color: $n
		border: 0
		&:after
			content: none
	.descr
		width: auto
		padding-top: 4px
		margin-right: 5px

.star
	display: inline-block
	vertical-align: middle
	width: 19px
	height: 18px
.star_l
	display: block
	float: left
	width: 9px
	height: 18px
	background: url(../img/star_p.png)
	cursor: pointer
.star_r
	display: block
	float: left
	width: 10px
	height: 18px
	background: url(../img/star_p.png) 100% 0 no-repeat
	cursor: pointer
.star_l.active
	background: url(../img/star_a.png) 0 0 no-repeat
.star_r.active
	background: url(../img/star_a.png) 100% 0 no-repeat


.checkbox
	display: inline-block
	color: #8a93a3
	cursor: pointer
	position: relative
	input
		position: absolute
		left: 0
		top: 4px
		opacity: 0
		z-index: 2
		&:checked
			+ span
				&:after
					content: ""
					position: absolute
					left: -25px
					top: 3px
					height: 8px
					z-index: 12
					background-image: url("../img/icons/che11.png")
					width: 11px
					height: 11px
					+r(600)
						background-image: url("../img/icons/che1.png")
						width: 19px
						height: 18px
						left: -35px
	span
		position: relative
		display: inline-block
		padding-left: 0px
		margin-left: 25px
		margin-bottom: 5px
		font-size: 12px
		color: $gray
		+a
		+r(600)
			font-size: 20px
		&:before
			content: ""
			position: absolute
			left: -25px
			top: 2px
			background-image: url("../img/icons/che21.png")
			width: 14px
			height: 14px
			z-index: 10
			+r(600)
				background-image: url("../img/icons/che2.png")
				left: -35px
				width: 24px
				height: 24px



.radio
	display: inline-block
	color: #8a93a3
	position: relative
	cursor: pointer
	input
		position: absolute
		left: 0
		top: 4px
		opacity: 0
		z-index: 2
		&:checked
			+ span
				&:after
					content: ""
					position: absolute
					left: -25px
					top: 4px
					height: 8px
					z-index: 12
					background-image: url("../img/icons/chack_a.png")
					width: 15px
					height: 15px
	span
		position: relative
		display: inline-block
		padding-left: 0px
		margin-left: 25px
		margin-bottom: 5px
		font-size: 15px
		&:before
			content: ""
			position: absolute
			left: -25px
			top: 4px
			background-image: url("../img/icons/chack_p.png")
			width: 15px
			height: 15px
			z-index: 10


.podlozka
	&:after
		content: ""
		position: absolute
		top: 0
		left: -20px
		right: -20px
		height: 100%
		background-color: #FFF
		background-image: none
		z-index: -1

.variable
	padding-bottom: 30px
	+g($n 85%, #e8f1fc)
	.btn__search
		width: 100%
		height: 50px
		color: #4F4113
		+g(#f5e872, #d6b34d)
	.title__slider
		+g(#e0ebfb, $n)
	h6
		padding: 0 10px
		line-height: 3
		&:before,
		&:after
			display: none
		+r(460)
			font-size: 15px
		+r(355)
			font-size: 13px


.more__text
	width: auto !important
	max-height: 124px
	overflow: hidden
	+r(600)
		overflow: visible
		max-height: 100%
		height: auto
	&.is_visible
		max-height: 100%
		height: auto
		overflow: visible

.more__text_film
	overflow: visible
	max-height: 100%
	height: auto
	+r(600)
		max-height: 124px
		overflow: hidden
	&.is_visible
		max-height: 100%
		height: auto
		overflow: visible
