a
	text-decoration: none

// buttons

.btn__soc
	position: relative
	display: inline-block
	vertical-align: top
	margin-right: 10px
	width: 30px
	height: 30px
	-webkit-border-radius: 100%
	border-radius: 100%
	background-color: #25343F
	+tr(.3s)
	&:hover
		background-color: lighten(#25343F, 60%)
	&:active
		-webkit-box-shadow: 0 0 5px 0px #fff inset, 0 0 9px #fff
		box-shadow: 0 0 5px 0px #fff inset, 0 0 9px #fff
	&:last-child
		margin-right: 0
	i
		+vcenter
	&_you
		@extend .btn__soc
		background-color: #D64242
		&:hover
			background-color: lighten(#D64242, 10%)

.btn__search
	position: relative
	padding: 0 20px
	font-family: Arial, sans-serif
	font-size: 14px
	color: #4F4113
	font-weight: bold
	height: 40px
	-webkit-border-radius: 3px
	border-radius: 3px
	z-index: 5
	+g(#f6ea79, #dbbc51)
	&:hover
		+g(#dbbc51, #f6ea79)
	&:active
		-webkit-box-shadow: inset 0 0 8px 0 #fff
		box-shadow: inset 0 0 8px 0 #fff






.line
	position: relative
	margin: 30px 0
	&:before,
	&:after
		content: ""
		position: absolute
		width: 38%
		top: 19px
		height: 2px
		background-color: #DFEBFB
	&:before
		left: 0
	&:after
		right: 0
.role__up
	position: absolute
	top: 10px
	right: 15px
	padding-right: 10px
	text-decoration: underline
	span
		position: relative
		i
			position: absolute
			top: 5px
			right: -10px
			width: 5px
			height: 3px
			background-image: url("../img/icons/bird__top.png")
	&:hover
		text-decoration: none

.column
	width: 48%
	+clr
.get__right
	float: right
.get__left
	float: left

.ganre__wrap
	text-align: left
	+clr
.ganre__item
	display: inline-block
	padding: 2px 5px
	color: #8A93A3
	font-size: 12px
	font-family: Arial, sans-serif
	margin-right: 5px
	margin-bottom: 2px
	&.is_active,
	&:hover
		color: #6F83A6
		background-color: #d2e3f9
		border-radius: 3px
		box-shadow: inset 0.695px 0.719px 1px 0px rgba(54, 132, 227, 0.22)





//  title


.title__slider
	position: relative
	text-align: center
	margin: 30px 0 20px
	h6
		position: relative
		display: inline-block
		font-size: 24px
		text-transform: uppercase
		color: #2C3A45
		+ub
		&:before
			content: ""
			position: absolute
			top: 15px
			left: -230px
			width: 125px
			height: 2px
			background-image: url("../img/icons/slider_dot_l.png")
		&:after
			content: ""
			position: absolute
			top: 15px
			right: -230px
			width: 125px
			height: 2px
			background-image: url("../img/icons/slider_dot_r.png")

.title__small
	font-size: 19px
	color: #000
	text-transform: uppercase
	line-height: 1.9
	+ur
.title__genre
	font-size: 14px
	color: #000
	font-family: Arial, sans-serif
	text-align: left
	font-weight: bold
	padding-left: 5px



// slider


.slider_prev,
.slider_next
	margin: 0 40px 0 30px
	position: relative
	top: 7px
	background-color: #D7E7F9
	width: 30px
	height: 30px
	-webkit-border-radius: 100%
	border-radius: 100%
	&:hover
		background-color: darken(#D7E7F9, 20%)
	&:before
		content: ""
		+vcenter
		background-image: url("../img/icons/slide_prev.png")
		width: 13px
		height: 13px
.slider_next
	margin: 0 30px 0 40px
	&:before
		background-image: url("../img/icons/slide_next.png")

.more
	position: relative
	color: #3684E3
	font-size: 12px
	font-family: Arial, sans-serif
	&:after
		content: ""
		position: absolute
		top: 5px
		right: -10px
		width: 5px
		height: 3px
		background-image: url("../img/icons/bird__top.png")
		+rotate(90)
